h1 {
  color: red;
  text-align: center;
}
#description {
  width: 50vw;
}
.bannerDivapp {
  background-color: aqua;
  padding: 1em;
  text-align: center;
  display: none;
}
.show {
  display: block;
}
