h1 {
  color: red;
  text-align: center;
}
#description {
  width: 50vw;
}
.bannerDivapp {
  background-color: aqua;
  padding: 1em;
  text-align: center;
  display: none;
}
.hidDiv {
  display: flex;
  justify-content: space-evenly;
}

.show {
  display: block;
}
input,
label {
  margin: 1em;
}

.image {
  width: 5vw;
}
