<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="bannerDivapp">
        <div class="hidDiv">
            <img class="image" src="" alt="">
            <p class="para"></p>
            <button class="button"></button>
        </div>

    </div>
    <div class="heading">
        <h1 class="h1">Hello there welcome to the app</h1>
    </div>
    <div class="second">
        <label for="">Enable/Disable</label>
        <input type="checkbox" name="" id="chck"><br>

        <label for="">Enter Description:</label>
        <input type="text" id="description" placeholder="Enter the desired description"><br>

        <label for="">Enter Button Name:</label>
        <input type="text" id="buttonName" placeholder="Enter the desired button name"><br>

        <label for="">Insert Image:</label>
        <input type="file" name="" id="fileName"><br>
        <button type="submit" id="button">Save</button>
    </div>

    <script>

        const btn = document.querySelector("#button");
        btn.addEventListener("click", () => {
            let data = document.getElementById("description");
            let maindata = data.value;
            let para = document.querySelector(".para");
            para.textContent = maindata;
            let divtoshow = document.querySelector(".bannerDivapp");
            let value = document.querySelector("#chck").checked;
            if (value == true) {
                divtoshow.classList.add("show");
            } else {
                divtoshow.classList.remove("show");
            }
            let buttonName = document.querySelector("#buttonName").value;
            document.querySelector(".button").textContent = buttonName;

            let imageName = document.querySelector("#fileName").value;
            let imageUrl = "images/" + imageName;
            alert(imageUrl);
            document.querySelector(".image").getAttribute("src");

        })
    </script>
</body>

</html>